/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}


.custom-select {
    position: relative;
    width: 100%;
}
.custom-select .custom-select-val::after {
    content: "";
    font-family: "FontAwesome";
    padding: 12px 0;
    position: absolute;
    right: 14px;
    top: 0;
}
.custom-select.cs-default .custom-select-val {
    color: #000;
}
.custom-select .custom-select-val {
    background: #eaedef none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    color: #000;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
    padding: 12px 35px 12px 15px;
    position: relative;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
.custom-select .custom-select-list {
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
    opacity: 1;
    position: absolute;
    transition: all 0.2s ease-out 0s;
    width: 100%;
    z-index: 9999;
}
.stroll-list {
    height: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 400px;
}
input {
    background-color: transparent;
    border: 1px solid #d7d7d7;
    color: #343434;
    line-height: 1.1;
    outline: medium none;
    padding: 16px 15px;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
.custom-select .custom-select-list li .custom-select-item-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #d7d7d7 #d7d7d7;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #696969;
    cursor: pointer;
    padding: 12px 15px;
    transition: all 0.2s ease-out 0s;
}